<p id="notice"><%= notice %></p>

<p>
  <strong>Band name:</strong>
  <%= @music_show.band_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @music_show.location %>
</p>

<p>
  <strong>Date of show:</strong>
  <%= @music_show.date_of_show %>
</p>

<p>
  <strong>Ticket price:</strong>
  <%= @music_show.ticket_price %>
</p>

<%= link_to 'Edit', edit_music_show_path(@music_show) %> |
<%= link_to 'Back', music_shows_path %>
